<div class="contents row">
  <%= form_for @tweet do |f| %>  
  <h3>
    投稿する
  </h3>
    <%= f.text_field :name, placeholder: 'ニックネーム' %>
    <%= f.file_field :image %>
    <%= f.text_field :text, placeholder: 'タイトル' %>
    <%= f.text_field :place, placeholder: '例：東京都' %>

    <%= f.text_area :maintext, placeholder: 'みんなに伝えたいことを書いてください' ,rows: 10%>
    <%= f.submit 'SENT' %>
  <% end %>
</div>